<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      <!-- content-header component -->
      <app-content-header [contentHeader]="contentHeader"></app-content-header>
  
      <div class="row">

            <div class="col-12">
              <div class="card">
                  <div class="card-body">
                      <button class="btn btn-primary">Comienza Mes</button>
                  </div>
              </div>
          </div>
          <div class="col-12">
              <div class="card">
                  <div class="card-body">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="row d-flex align-items-center">
                            <div class="form-group col-10">
                                <h3>Generar Informe de Pagos de Residentes</h3>
                                <label for="filename">Nombre del archvivo</label>
                                <input
                                    type="text"
                                    formControlName="filename"
                                    class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.filename.errors }"
                                    placeholder="Rellenar aquí"
                                    aria-describedby="filename"
                                    autofocus=""
                                    tabindex="1"/>
                                <div *ngIf="submitted && f.filename.errors" class="invalid-feedback">
                                    <div *ngIf="f.filename.errors.required">Nombre del archivo es requerido</div>
                                </div>
                            </div>
                                
                            <div class="col-2">
                                <button [disabled]="loading" class="btn btn-success" tabindex="8" rippleEffect>
                                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> Generar Reporte
                                </button>
                            </div>
                        </div>
                    </form>

                    <div id="htmlData">
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Núm. placa</th>
                                <th scope="col">Tiempo estacionado (min.)</th>
                                <th scope="col">Cantidad a pagar</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let estancia of estancias; let i = index">
                                <th scope="row">{{i + 1}}</th>
                                <td>{{estancia.placa}}</td>
                                <td>{{estancia.tiempo_total}}</td>
                                <td>{{estancia.saldo_vencido}}</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                  </div>
                  
              </div>
          </div>
          
      </div>
    </div>
  </div>
  